html, body{
    background-color: darkgreen;
    color: aliceblue;

}
h1{
  text-align: center;  
}
h2{
    color: yellow;
    text-align: center;
}


.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    position: relative;
    left: -120px;

}

ul{
    display: table;
    margin: 0 auto;
}
ul.a{
    list-style-type: square;
}
li{
    margin:10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}

.text{
    text-align: center;
}

.link{
    font-size: 18px;
    padding-right: 10px;
}

a{
    color: inherit;
    text-decoration: none;
}


